
@{
    ViewData["Title"] = "Indexi";
    Layout = "~/Areas/Asp_Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                
            </div>
            
        </div>
    </div>

